autopep8.sh
tmp/*
__pycache__/
.vscode/
.tmp
.cache
*.retry
tests/test_playbooks/vars/server.yml
__pycache__
*.pyc
*.pyo
*.swp
*.tar.gz
.pytest_cache/
.mypy_cache/
venv/
/build/
docs/plugins/
docs/_build/
changelogs/.plugin-cache.yaml
playbooks/credentials.yml
.DS_Store
PLAYBOOKS_EXECUTION_README.md
run_playbooks_advanced.sh
run_all_playbooks.py