- name: Play Name
  hosts: localhost
  vars:
    network_id: L_828099381482778041
    org_id: "828099381482762270"
    blocked_url_category_ids:
      - meraki:contentFiltering/category/C1
      - meraki:contentFiltering/category/C3
  gather_facts: false
  tasks:
    - name: Update all
      cisco.meraki.networks_appliance_content_filtering:
        meraki_suppress_logging: false
        networkId: "{{ network_id }}"
        blockedUrlCategories: "{{ blocked_url_category_ids }}"
        state: present
